In [1]:
import pandas as p

In [ ]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [197]:
lst = p.Series(fruits)

In [198]:
len(lst) # Determine the number of elements in fruits.

17

In [200]:
lst.index #Output only the index from fruits.

RangeIndex(start=0, stop=17, step=1)

In [201]:
lst.values #Output only the values from fruits.

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [202]:
lst.dtype #Confirm the data type of the values in fruits.

dtype('O')

In [203]:
lst.head(), #first 5 values

(0          kiwi
 1         mango
 2    strawberry
 3     pineapple
 4    gala apple
 dtype: object,)

In [204]:
lst.tail(3), #Last 3 values

(14    blackberry
 15    gooseberry
 16        papaya
 dtype: object,)

In [205]:
lst.sample(3)# Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

13    blueberry
1         mango
6        tomato
dtype: object

In [30]:
lst.describe()# Run the .describe() on fruits to see what information it returns when called on a Series with string values.

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [206]:
lst

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [207]:
lst.drop_duplicates() #shows only the ubique values

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [15]:
#fruits.value_counts()

#fruits.value_counts().index
#fruits.unique()  #Run the code necessary to produce only the unique string values from fruits.

In [16]:
#fruits.value_counts()
#fruits.mode()
#fruits.value_counts().nlargest(1)
#fruits.value_counts().head(1)
#fruits.value_counts().idxmax()
#fruits.describe().loc['top'] # Determine how many times each unique string value occurs in fruits.

In [208]:
lst.value_counts() #Determine the string value that occurs most frequently in fruits.

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [22]:
lst.value_counts(ascending=True)
#fruits.value_counts.nsmallest(n=1 keep='all')
#fruits.value_counts()[fruits.value_counts() ==1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
mango               2
kiwi                4
dtype: int64

In [98]:
# Part II
# Capitalize all the string values in fruits.
fruits = p.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"], dtype="string")

In [209]:
lst.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [210]:
lst.str.count("a") #count strings in letter a

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [213]:
lst.str.count('[aeiouy]')

0     2
1     2
2     3
3     4
4     4
5     6
6     3
7     4
8     4
9     2
10    2
11    2
12    2
13    4
14    3
15    5
16    4
dtype: int64