In [2]:
import pandas as p

In [3]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [4]:
lst = p.Series(fruits)

In [5]:
len(lst) # Determine the number of elements in fruits.

17

In [6]:
lst.index #Output only the index from fruits.

RangeIndex(start=0, stop=17, step=1)

In [7]:
lst.values #Output only the values from fruits.

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [8]:
lst.dtype #Confirm the data type of the values in fruits.

dtype('O')

In [9]:
lst.head(), #first 5 values

(0          kiwi
 1         mango
 2    strawberry
 3     pineapple
 4    gala apple
 dtype: object,)

In [10]:
lst.tail(3), #Last 3 values

(14    blackberry
 15    gooseberry
 16        papaya
 dtype: object,)

In [11]:
lst.sample(3)# Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

12         mango
9           kiwi
2     strawberry
dtype: object

In [12]:
lst.describe()# Run the .describe() on fruits to see what information it returns when called on a Series with string values.

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [13]:
lst

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [14]:
lst.drop_duplicates() #shows only the ubique values

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [15]:
#fruits.value_counts()

#fruits.value_counts().index
#fruits.unique()  #Run the code necessary to produce only the unique string values from fruits.

In [16]:
#fruits.value_counts()
#fruits.mode()
#fruits.value_counts().nlargest(1)
#fruits.value_counts().head(1)
#fruits.value_counts().idxmax()
#fruits.describe().loc['top'] # Determine how many times each unique string value occurs in fruits.

In [17]:
lst.value_counts() #Determine the string value that occurs most frequently in fruits.

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [18]:
lst.value_counts(ascending=True)
#fruits.value_counts.nsmallest(n=1 keep='all')
#fruits.value_counts()[fruits.value_counts() ==1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
mango               2
kiwi                4
dtype: int64

In [19]:
# Part II
# Capitalize all the string values in fruits.
fruits = p.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"], dtype="string")

In [20]:
lst.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [21]:
lst.str.count("a") #count strings in letter a

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [22]:
lst.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [23]:
#fruits_series[fruits_series.str.count(r'[aeiou]'')]

In [61]:
lst.str.len().max()

16

In [64]:
lst[lst.str.len() >=5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [27]:
lst[lst.str.count('o') >1]

6         tomato
15    gooseberry
dtype: object

In [28]:
lst[lst.str.count('berry') == 1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [29]:
lst[lst.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [30]:
lst[lst.str.count('[aeiou]').max()]

'honeycrisp apple'

In [31]:
letters = list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')

In [32]:
letters_series = p.Series(letters)

In [ ]:
letters_series.value_counts().nlargest(1)

In [67]:
letters_series.value_counts().nsmallest(1)

l    4
dtype: int64

In [34]:
letters_series.str.count('[aeiou]').sum()

34

In [35]:
letters_series.str.count('[^aeiou]') #regular expression
#letters.size

0      1
1      1
2      1
3      0
4      1
      ..
195    1
196    0
197    1
198    0
199    1
Length: 200, dtype: int64

In [36]:
letters_series.str.upper()

0      H
1      N
2      V
3      I
4      D
      ..
195    R
196    O
197    G
198    U
199    Y
Length: 200, dtype: object

In [37]:
numbers = ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

In [68]:
numbers = p.Series(numbers)
numbers.dtype

dtype('O')

In [39]:
numbers.count()
numbers.size

20

In [40]:
numbers.str.replace('$', '').str.replace(',','').astype('float')

/var/folders/51/1y9bskdx161fnwxyf68jcl540000gn/T/ipykernel_2656/4047877056.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  numbers.str.replace('$', '').str.replace(',','').astype('float')

0      796459.41
1         278.60
2      482571.67
3     4503915.98
4     2121418.30
5     1260813.30
6       87231.01
7     1509175.45
8     4138548.00
9     2848913.80
10     594715.39
11    4789988.17
12    4513644.50
13    3191059.97
14    1758712.24
15    4338283.54
16    4738303.38
17    2791759.67
18     769681.94
19     452650.23
dtype: float64

numbers.max()

In [41]:
numbers.min()

'$1,260,813.3'

In [42]:
numbers_bin = p.cut(numbers, 4)
numbers_bin.value_counts()

TypeError: can only concatenate str (not "float") to str

In [ ]:
numbers_bin

In [ ]:
exam_scores = p.Series([60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78])

In [ ]:
exam_scores.size

In [ ]:
(
    exam_scores.max(),
    exam_scores.min(),
    exam_scores.mean(),
    exam_scores.median(),
)

In [ ]:
letter_grades = exam_scores + (100 - exam_scores.max())

In [ ]:
letter_grades.max()

In [ ]:
bin_edges = [0, 60, 70, 80, 90, 100]
bin_labels = ['F', 'D', 'C', 'B', 'A']
better_grades = p.cut(curved_grades, bins=bin_edges, labels=bin_labels)

In [ ]:
letter_grades.value_counts()